.card-style {
    margin: 20px 100px;
}

.blog_header {
    padding: 20px 100px;
    width: 100%;
    display: inline-block;
}

.blog_header h1,
.blog_header h5 {
    display: inline-block;
}

.blog_header h1 {
    float: left;
}

.blog_header h5 {
    float: right;
    margin-top: 10px;
    cursor: pointer;
}

input {
    width: 100%;
    margin-bottom: 5px;
}